# =====================================================================
# PLANTILLA DE CONFIGURACIÓN
# Copiar a .env y rellenar. NUNCA versionar el .env resultante.
# =====================================================================

# ---- General ----
TZ=America/Mexico_City
ENTORNO=desarrollo

# ---- Origen: SQL Server ----
MSSQL_HOST=
MSSQL_PORT=1433
MSSQL_DB=
MSSQL_USER_GRAFANA=bi_grafana_ro
MSSQL_PASS_GRAFANA=
MSSQL_USER_ETL=bi_etl_ro
MSSQL_PASS_ETL=
MSSQL_ENCRYPT=yes
MSSQL_TRUST_CERT=yes

# ---- Origen: MariaDB ----
MARIADB_HOST=10.70.13.70
MARIADB_PORT=3306
MARIADB_DB=
MARIADB_USER_GRAFANA=bi_grafana_ro
MARIADB_PASS_GRAFANA=
MARIADB_USER_ETL=bi_etl_ro
MARIADB_PASS_ETL=

# ---- Destino: Postgres analítico ----
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=analitica
POSTGRES_USER=analitica
POSTGRES_PASSWORD=

# ---- Grafana ----
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=
GF_SERVER_ROOT_URL=http://localhost:3000
GF_USERS_ALLOW_SIGN_UP=false
